:root {
  --var-base: 230;
  --var-blue: 200;
  --var-green: 110;
  --var-purple: 262;
  --var-red: 12;
  --var-yellow: 50;
  --color-white-100: hsl(var(--var-base), 10%, 50%);
  --color-white-200: hsl(var(--var-base), 10%, 60%);
  --color-white-300: hsl(var(--var-base), 10%, 70%);
  --color-white-400: hsl(var(--var-base), 10%, 80%);
  --color-white-500: hsl(var(--var-base), 10%, 90%);
  --color-gray-100: hsl(var(--var-base), 10%, 10%);
  --color-gray-200: hsl(var(--var-base), 10%, 15%);
  --color-gray-300: hsl(var(--var-base), 10%, 20%);
  --color-gray-400: hsl(var(--var-base), 10%, 25%);
  --color-gray-500: hsl(var(--var-base), 10%, 30%);
  --color-blue-100: hsl(var(--var-blue), 50%, 50%);
  --color-blue-200: hsl(var(--var-blue), 50%, 60%);
  --color-blue-300: hsl(var(--var-blue), 50%, 70%);
  --color-green-100: hsl(var(--var-green), 40%, 45%);
  --color-green-200: hsl(var(--var-green), 40%, 55%);
  --color-green-300: hsl(var(--var-green), 40%, 65%);
  --color-purple-100: hsl(var(--var-purple), 25%, 60%);
  --color-purple-200: hsl(var(--var-purple), 25%, 70%);
  --color-purple-300: hsl(var(--var-purple), 25%, 80%);
  --color-red-100: hsl(var(--var-red), 60%, 60%);
  --color-red-200: hsl(var(--var-red), 60%, 70%);
  --color-red-300: hsl(var(--var-red), 60%, 80%);
  --color-yellow-100: hsl(var(--var-yellow), 50%, 60%);
  --color-yellow-200: hsl(var(--var-yellow), 50%, 65%);
  --color-yellow-300: hsl(var(--var-yellow), 50%, 70%);
}

@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url("/fonts/noto-sans-regular.woff2") format("woff2"), url("/fonts/noto-sans-regular.woff") format("woff"), url("/fonts/noto-sans-regular.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("/fonts/noto-sans-italic.woff2") format("woff2"), url("/fonts/noto-sans-italic.woff") format("woff"), url("/fonts/noto-sans-italic.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("/fonts/noto-sans-bold.woff2") format("woff2"), url("/fonts/noto-sans-bold.woff") format("woff"), url("/fonts/noto-sans-bold.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
@font-face {
  font-display: swap;
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"), url("/fonts/noto-sans-bold-italic.woff2") format("woff2"), url("/fonts/noto-sans-bold-italic.woff") format("woff"), url("/fonts/noto-sans-bold-italic.ttf") format("truetype");
  unicode-range: U+000-5FF;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  align-items: center;
  display: flex;
  line-height: 1.2rem;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  justify-content: center;
  margin: 0;
  min-height: 90vh;
  padding: 0;
}

body.theme--dark {
  background: var(--color-gray-100);
  color: var(--color-white-300);
}

body.theme--light {
  background: var(--color-white-400);
  color: var(--color-gray-500);
}

a:link, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body.theme--dark a:link, body.theme--dark a:visited {
  color: var(--color-blue-300);
}
body.theme--dark a:active {
  color: var(--color-blue-200);
}

body.theme--light a:link, body.theme--light a:visited {
  color: var(--color-blue-100);
}
body.theme--light a:active {
  color: var(--color-blue-200);
}

hr {
  border: none;
  box-shadow: none;
  height: 0.1rem;
  margin: 1rem 0;
}

body.theme--dark hr {
  background: var(--color-gray-300);
}

body.theme--light hr {
  background: var(--color-white-400);
}

main {
  padding: 0.5rem 1rem;
  min-width: 25rem;
}

body.theme--dark main {
  background: var(--color-gray-200);
}

body.theme--light main {
  background: var(--color-white-500);
}

p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin: 1rem 0;
}

#container {
  margin: auto;
  max-width: 102.4rem;
  min-width: 20rem;
  padding: 0;
}
@media all and (min-width: 1024px) {
  #container {
    padding: 1rem 0;
  }
}

.button {
  background: var(--color-gray-500);
  border: none;
  border-radius: 0.2rem;
  color: var(--color-white-500);
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.5rem 0 0;
  outline: 0;
  padding: 0.5rem 1rem;
}
.button:hover {
  background: var(--color-gray-400);
}

.card {
  display: block;
  margin: 1rem 0;
  position: relative;
  width: 100%;
}
.card .card__title {
  display: flex;
}
.card .card__summary {
  margin: 0 0 0.5rem 0;
}
.card .card__footer {
  display: flex;
}
.card .card__meta {
  display: flex;
  margin: 0 0 0.5rem 0;
}
.card .card__meta--left {
  flex: 1 0 auto;
  font-size: 1.2rem;
  margin: 0;
}
.card .card__meta--right {
  flex: 1 0 auto;
  font-size: 1.2rem;
  margin: 0;
  text-align: right;
}
.card .card__progress {
  margin: 0.5rem 0;
}

body.theme--dark .card .card__summary {
  color: var(--color-white-300);
}
body.theme--dark .card .card__meta {
  color: var(--color-white-200);
}

body.theme--light .card .card__summary {
  color: var(--color-gray-300);
}
body.theme--light .card .card__meta {
  color: var(--color-gray-400);
}

.empty {
  padding: 5rem;
  text-align: center;
}
.empty .empty__icon {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.empty .empty__title--sup {
  font-size: 1.5rem;
}
.empty .empty__title--sub {
  font-size: 1.3rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .grid {
    display: block;
  }
}
.grid .column {
  flex: 1;
  padding: 0.5rem;
}
.grid .column.large {
  min-width: 15rem;
}
.grid.halves .column {
  flex: 0 0 50%;
}
.grid.thirds .column {
  flex: 0 0 33.3333%;
}
.grid.fourths .column {
  flex: 0 0 25%;
}

.background--blue {
  background-color: var(--color-blue-200);
}

.background--gray {
  background-color: var(--color-white-300);
}

.background--green {
  background-color: var(--color-green-200);
}

.background--purple {
  background-color: var(--color-purple-200);
}

.background--red {
  background-color: var(--color-red-200);
}

.background--yellow {
  background-color: var(--color-yellow-300);
}

.hidden {
  left: -10000px;
  height: 1px;
  max-height: 0.1rem;
  max-width: 0.1rem;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.center-contents--column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.center-contents--row {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.icon--danger {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--icon, 1));
  width: 2rem;
  height: 2rem;
  border: 0.2rem solid;
  border-radius: 4rem;
}
.icon--danger::after, .icon--danger::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0.3rem;
  width: 0.2rem;
  background: currentColor;
  left: 0.7rem;
}
.icon--danger::after {
  top: 0.2rem;
  height: 0.8rem;
}
.icon--danger::before {
  height: 0.2rem;
  bottom: 0.2rem;
}

.icon--search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--icon, 1));
  width: 1.6rem;
  height: 1.6rem;
  border: 0.2rem solid;
  border-radius: 100%;
  margin-left: -0.4rem;
  margin-top: -0.4rem;
}
.icon--search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 0.3rem;
  width: 0.2rem;
  height: 0.8rem;
  background: currentColor;
  transform: rotate(-45deg);
  top: 1rem;
  left: 1.2rem;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

input {
  border: none;
  border-radius: 0.2rem;
  display: block;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  min-width: 10rem;
  max-width: 35rem;
  padding: 0.5rem 0.8rem;
  width: 100%;
}

body.theme--dark input {
  background: var(--color-gray-500);
  color: var(--color-white-500);
}
body.theme--dark input:hover, body.theme--dark input:focus {
  background: var(--color-gray-400);
}

body.theme--light input {
  background: var(--color-white-300);
  color: var(--color-white-500);
}
body.theme--light input:hover, body.theme--light input:focus {
  background: var(--color-white-400);
}

textarea {
  background: var(--color-gray-500);
  border: none;
  border-radius: 0.2rem;
  color: var(--color-white-500);
  display: block;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
}
textarea:hover, textarea:focus {
  background: var(--color-gray-400);
}

.label {
  border-radius: 0.2rem;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}
.label .label__detail {
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: -0.5rem -1rem -0.5rem 0.5rem;
  opacity: 0.8;
  padding: 0.5rem 1rem;
}
.label__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  list-style: none;
  padding: 0;
}
.label__list .label, .label__list li {
  display: inline-flex;
  flex-wrap: wrap;
}
.label:hover {
  cursor: pointer;
}
.label.color__blue {
  background: var(--color-blue-200);
}
.label.color__blue:hover {
  background: var(--color-blue-100);
}
.label.color__green {
  background: var(--color-green-200);
}
.label.color__green:hover {
  background: var(--color-green-100);
}
.label.color__purple {
  background: var(--color-purple-200);
}
.label.color__purple:hover {
  background: var(--color-purple-100);
}
.label.color__red {
  background: var(--color-red-200);
}
.label.color__red:hover {
  background: var(--color-red-100);
}
.label.color__silver {
  background: var(--color-white-300);
}
.label.color__silver:hover {
  background: var(--color-white-200);
}
.label.color__yellow {
  background: var(--color-yellow-300);
}
.label.color__yellow:hover {
  background: var(--color-yellow-200);
}

body.theme--dark .label {
  color: var(--color-gray-100);
}
body.theme--dark .label:link, body.theme--dark .label:visited {
  color: var(--color-gray-100);
}

body.theme--light .label {
  color: var(--color-gray-100);
}
body.theme--light .label:link, body.theme--light .label:visited {
  color: var(--color-gray-100);
}

.media-object {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
.media-object .media-object__left {
  display: inline-block;
  margin-right: 0.5rem;
}
.media-object .media-object__title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.media-object .media-object__title--sup {
  display: block;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.8rem;
  margin: 0 0 0.4rem 0;
}
.media-object .media-object__title--sub {
  display: block;
  font-size: 1.3rem;
  margin: 0 0 0.2rem 0;
}
.media-object .media-object__meta {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0.2rem 0 0 0;
}
.media-object .media-object__meta--text {
  color: var(--color-white-200);
  white-space: nowrap;
}

body.theme--dark .media-object .media-object__meta.media-object__meta--text {
  color: var(--color-white-200);
}

body.theme--light .media-object .media-object__meta.media-object__meta--text {
  color: var(--color-gray-400);
}

.nav {
  display: flex;
}
.nav * {
  flex: 0 0 auto;
}
.nav a {
  display: inline-block;
  font-size: 1.3rem;
  line-height: 3.4rem;
  padding: 0 1rem;
}
.nav a:hover {
  text-decoration: underline;
}
.nav .nav__brand {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.nav .nav__left {
  display: inline-flex;
  flex-grow: 1;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  white-space: nowrap;
}
.nav .nav__right {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav .nav__item {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0 0.8rem;
}
.nav .nav__item a {
  padding: 0;
}
@media all and (max-width: 1024px) {
  .nav {
    flex-wrap: wrap;
  }
}

body.theme--dark .nav,
body.theme--light .nav {
  background: var(--color-gray-300);
  color: var(--color-white-500);
}
body.theme--dark .nav a,
body.theme--light .nav a {
  color: var(--color-white-300);
}
body.theme--dark .nav a:link, body.theme--dark .nav a:visited,
body.theme--light .nav a:link,
body.theme--light .nav a:visited {
  color: var(--color-white-500);
}
body.theme--dark .nav a:active,
body.theme--light .nav a:active {
  color: var(--color-white-500);
}

.nav--search .nav__left {
  flex-grow: 0;
  order: 4;
  width: 100%;
}
@media all and (min-width: 1024px) {
  .nav--search .nav__left {
    flex-grow: 1;
    order: 2;
    width: auto;
  }
}
.nav--search .nav__right {
  order: 3;
}
@media all and (min-width: 1024px) {
  .nav--search .nav__right {
    order: 4;
  }
}
.nav--search .nav__search {
  display: inline-flex;
  flex-grow: 9999;
  order: 2;
  padding: 0;
}
.nav--search .nav__search input {
  flex: 1 0 auto;
  font-size: 1.2rem;
  line-height: 3.4rem;
  margin: 0;
  max-width: none;
  padding: 0 1.4rem;
}
@media all and (min-width: 1024px) {
  .nav--search .nav__search {
    order: 3;
    padding: 0 0.8rem;
  }
}

body.theme--dark .nav--search input,
body.theme--light .nav--search input {
  background: var(--color-gray-500);
  color: var(--color-white-500);
}
body.theme--dark .nav--search input:hover, body.theme--dark .nav--search input:focus,
body.theme--light .nav--search input:hover,
body.theme--light .nav--search input:focus {
  background: var(--color-gray-400);
}

@media all and (min-width: 1024px) {
  nav.nav {
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
}

@media all and (min-width: 1024px) {
  footer.nav {
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
}

.pagination {
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.pagination .pagination__item {
  display: inline-block;
}
.pagination .pagination__item * {
  border: none;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0 0 0 0;
  outline: 0;
  padding: 0.5rem 1rem;
}
.pagination .pagination__item p {
  cursor: default;
  pointer-events: none;
}
.pagination .pagination__item:first-child * {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}
.pagination .pagination__item:last-child * {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}
.pagination .pagination__item--disabled * {
  cursor: default;
  pointer-events: none;
}

body.theme--dark .pagination .pagination__item *,
body.theme--light .pagination .pagination__item * {
  background: var(--color-gray-500);
  border-left: 0.1rem solid var(--color-gray-200);
  color: var(--color-white-500);
}
body.theme--dark .pagination .pagination__item a:link, body.theme--dark .pagination .pagination__item a:visited,
body.theme--light .pagination .pagination__item a:link,
body.theme--light .pagination .pagination__item a:visited {
  color: var(--color-white-500);
}
body.theme--dark .pagination .pagination__item p,
body.theme--light .pagination .pagination__item p {
  background: var(--color-gray-400);
}
body.theme--dark .pagination .pagination__item:hover *,
body.theme--light .pagination .pagination__item:hover * {
  background: var(--color-gray-400);
}
body.theme--dark .pagination .pagination__item:hover p,
body.theme--light .pagination .pagination__item:hover p {
  background: var(--color-gray-400);
}
body.theme--dark .pagination .pagination__item--disabled *,
body.theme--light .pagination .pagination__item--disabled * {
  background: var(--color-gray-300);
  color: var(--color-white-400);
}
body.theme--dark .pagination .pagination__item--disabled:hover *,
body.theme--light .pagination .pagination__item--disabled:hover * {
  background: var(--color-gray-300);
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--color-gray-300);
  border: none;
  box-shadow: none;
  color: var(--color-blue-200);
  height: 0.2rem;
  margin: 1rem 0;
  width: 100%;
}
progress::-webkit-progress-bar {
  background: var(--color-gray-300);
}
progress::-moz-progress-bar, progress::-webkit-progress-value {
  background: var(--color-blue-200);
}

.tiles {
  display: block;
  height: 3.6rem;
  min-width: 3.6rem;
  margin: 0.2rem;
  position: relative;
  width: 3.6rem;
}
.tiles .tile, .tiles .tile__bottom, .tiles .tile__top {
  border-radius: 0.2rem;
  height: 1.6rem;
  position: absolute;
  width: 1.6rem;
}
.tiles .tile__top {
  top: 0;
}
.tiles .tile__bottom {
  bottom: 0;
}
.tiles .tile__center {
  left: 1rem;
}
.tiles .tile__left {
  left: 0;
}
.tiles .tile__right {
  right: 0;
}

[aria-label] {
  cursor: pointer;
  position: relative;
}
[aria-label]:before {
  border-radius: 0.2rem;
  bottom: 100%;
  content: attr(aria-label);
  left: 50%;
  margin-bottom: 1rem;
  max-width: 15rem;
  min-width: 6rem;
  opacity: 0;
  padding: 0.5rem 1rem;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 0.4rem);
  transform-origin: top;
  transition: all 0.18s ease-out 0.18s;
  text-align: center;
  text-indent: 0;
  text-shadow: none;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
  z-index: 10;
}
[aria-label]:hover:before {
  opacity: 1;
  pointer-events: none;
  transform: translate(-50%, 0);
}

body.theme--dark [aria-label]:before {
  background: var(--color-white-500);
  color: var(--color-gray-100);
}

body.theme--light [aria-label]:before {
  background: var(--color-gray-300);
  color: var(--color-white-500);
}

/*# sourceMappingURL=stylus.css.map */
