.button {
    background: var(--color-gray-500);
    border: none;
    border-radius: 0.2rem;
    color: var(--color-white-500);
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 0.5rem 0 0;
    outline: 0;
    padding: 0.5rem 1rem;

    &:hover {
        background: var(--color-gray-400);
    }
}
