.card {
    display: block;
    margin: 1rem 0;
    position: relative;
    width: 100%;

    & &__title {
        display: flex;
    }

    & &__summary {
        margin: 0 0 0.5rem 0;
    }

    & &__footer {
        display: flex;
    }

    & &__meta {
        display: flex;
        margin: 0 0 0.5rem 0;

        &--left {
            flex: 1 0 auto;
            font-size: 1.2rem;
            margin: 0;
        }

        &--right {
            flex: 1 0 auto;
            font-size: 1.2rem;
            margin: 0;
            text-align: right;
        }
    }

    & &__progress {
        margin: 0.5rem 0;
    }
}

body.theme--dark .card {
    & .card__summary {
        color: var(--color-white-300);
    }

    & .card__meta {
        color: var(--color-white-200);
    }
}

body.theme--light .card {
    & .card__summary {
        color: var(--color-gray-300);
    }

    & .card__meta {
        color: var(--color-gray-400);
    }
}
