.empty {
    padding: 5rem;
    text-align: center;

    & &__icon {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    & &__title {
        &--sup {
            font-size: 1.5rem;
        }

        &--sub {
            font-size: 1.3rem;
        }
    }
}
