@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans"), local("NotoSans"),
        url("/fonts/noto-sans-regular.woff2") format("woff2"),
        url("/fonts/noto-sans-regular.woff") format("woff"),
        url("/fonts/noto-sans-regular.ttf") format("truetype");
    unicode-range: U+000-5FF;
}

@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Noto Sans Italic"), local("NotoSans-Italic"),
        url("/fonts/noto-sans-italic.woff2") format("woff2"),
        url("/fonts/noto-sans-italic.woff") format("woff"),
        url("/fonts/noto-sans-italic.ttf") format("truetype");
    unicode-range: U+000-5FF;
}

@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
        url("/fonts/noto-sans-bold.woff2") format("woff2"),
        url("/fonts/noto-sans-bold.woff") format("woff"),
        url("/fonts/noto-sans-bold.ttf") format("truetype");
    unicode-range: U+000-5FF;
}

@font-face {
    font-display: swap;
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"),
        url("/fonts/noto-sans-bold-italic.woff2") format("woff2"),
        url("/fonts/noto-sans-bold-italic.woff") format("woff"),
        url("/fonts/noto-sans-bold-italic.ttf") format("truetype");
    unicode-range: U+000-5FF;
}
