.grid {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $display__max--pixel) {
        display: block;
    }

    .column {
        flex: 1;
        padding: 0.5rem;

        &.large {
            min-width: 15rem;
        }
    }

    &.halves .column  {
        flex: 0 0 50%;
    }

    &.thirds .column  {
        flex: 0 0 33.3333%;
    }

    &.fourths .column {
        flex: 0 0 25%;
    }
}
