.background--blue {
    background-color: var(--color-blue-200);
}

.background--gray {
    background-color: var(--color-white-300);
}

.background--green {
    background-color: var(--color-green-200);
}

.background--purple {
    background-color: var(--color-purple-200);
}

.background--red {
    background-color: var(--color-red-200);
}

.background--yellow {
    background-color: var(--color-yellow-300);
}

.hidden {
    left: -10000px;
    height: 1px;
    max-height: 0.1rem;
    max-width: 0.1rem;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.center-contents--column {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.center-contents--row {
    align-items: center;
    display: flex;
    flex-direction: row;
}
