.icon--danger {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--icon, 1));
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid;
    border-radius: 4rem;

    &::after,
    &::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 0.3rem;
        width: 0.2rem;
        background: currentColor;
        left: 0.7rem;
    }

    &::after {
        top: 0.2rem;
        height: 0.8rem;
    }

    &::before {
        height: 0.2rem;
        bottom: 0.2rem;
    }
}

.icon--search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--icon, 1));
    width: 1.6rem;
    height: 1.6rem;
    border: 0.2rem solid;
    border-radius: 100%;
    margin-left: -0.4rem;;
    margin-top: -0.4rem;

    &::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 0.3rem;
        width: 0.2rem;
        height: 0.8rem;
        background: currentColor;
        transform: rotate(-45deg);
        top: 1rem;
        left: 1.2rem;
    }
}
