label {
    display: block;
    font-size:  1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

input {
    border: none;
    border-radius: 0.2rem;
    display: block;
    line-height: 1.6rem;
    margin-bottom: 1rem;
    min-width: 10rem;
    max-width: 35rem;
    padding: 0.5rem 0.8rem;
    width: 100%;
}

body.theme--dark input {
    background: var(--color-gray-500);
    color: var(--color-white-500);

    &:hover,
    &:focus {
        background: var(--color-gray-400);
    }
}

body.theme--light input {
    background: var(--color-white-300);
    color: var(--color-white-500);

    &:hover,
    &:focus {
        background: var(--color-white-400);
    }
}

textarea {
    background: var(--color-gray-500);
    border: none;
    border-radius: 0.2rem;
    color: var(--color-white-500);
    display: block;
    line-height: 1.6rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.8rem;

    &:hover,
    &:focus {
        background: var(--color-gray-400);
    }
}
