.label {
    border-radius: 0.2rem;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;

    & &__detail {
        background: rgba(0, 0, 0, 0.2);
        display: inline-block;
        margin: -0.5rem -1rem -0.5rem 0.5rem;
        opacity: 0.8;
        padding: 0.5rem 1rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
        list-style: none;
        padding: 0;
    }

    &__list &, &__list li {
        display: inline-flex;
        flex-wrap: wrap;
    }

    &:hover {
        cursor: pointer;
    }

    &.color {
        &__blue {
            background: var(--color-blue-200);

            &:hover {
                background: var(--color-blue-100);
            }
        }

        &__green {
            background: var(--color-green-200);

            &:hover {
                background: var(--color-green-100);
            }
        }

        &__purple {
            background: var(--color-purple-200);

            &:hover {
                background: var(--color-purple-100);
            }
        }

        &__red {
            background: var(--color-red-200);

            &:hover {
                background: var(--color-red-100);
            }
        }

        &__silver {
            background: var(--color-white-300);

            &:hover {
                background: var(--color-white-200);
            }
        }

        &__yellow {
            background: var(--color-yellow-300);

            &:hover {
                background: var(--color-yellow-200);
            }
        }
    }
}

body.theme--dark .label {
    color: var(--color-gray-100);

    &:link,
    &:visited {
        color: var(--color-gray-100);
    }
}

body.theme--light .label {
    color: var(--color-gray-100);

    &:link,
    &:visited {
        color: var(--color-gray-100);
    }
}
