.media-object {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

    & &__left {
        display: inline-block;
        margin-right: 0.5rem;
    }

    & &__title {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        &--sup {
            display: block;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: bold;
            line-height: 1.8rem;
            margin: 0 0 0.4rem 0;
        }

        &--sub {
            display: block;
            font-size: 1.3rem;
            margin: 0 0 0.2rem 0;
        }
    }

    & &__meta {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin: 0.2rem 0 0 0;

        &--text {
            color: var(--color-white-200);
            white-space: nowrap;
        }
    }
}

body.theme--dark .media-object .media-object__meta.media-object__meta--text {
    color: var(--color-white-200);
}

body.theme--light .media-object .media-object__meta.media-object__meta--text {
    color: var(--color-gray-400);
}
