.pagination {
    font-size: 0;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    & &__item {
        display: inline-block;

        * {
            border: none;
            display: inline-block;
            font-size: 1.2rem;
            line-height: 1.8rem;
            margin: 0 0 0 0;
            outline: 0;
            padding: 0.5rem 1rem;
        }

        p {
            cursor: default;
            pointer-events: none;
        }

        &:first-child * {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        &:last-child * {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }

        &--disabled * {
            cursor: default;
            pointer-events: none;
        }
    }
}

body.theme--dark .pagination .pagination__item,
body.theme--light .pagination .pagination__item {
    * {
        background: var(--color-gray-500);
        border-left: 0.1rem solid var(--color-gray-200);
        color: var(--color-white-500);
    }

    a {
        &:link,
        &:visited {
            color: var(--color-white-500);
        }
    }

    p {
        background: var(--color-gray-400);
    }

    &:hover {
        * {
            background: var(--color-gray-400);
        }

        p {
            background: var(--color-gray-400);
        }
    }

    &--disabled * {
        background: var(--color-gray-300);
        color: var(--color-white-400);
    }

    &--disabled:hover * {
        background: var(--color-gray-300);
    }
}
