progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--color-gray-300);
    border: none;
    box-shadow: none;
    color: var(--color-blue-200);
    height: 0.2rem;
    margin: 1rem 0;
    width: 100%;

    &::-webkit-progress-bar {
        background: var(--color-gray-300);
    }

    &::-moz-progress-bar, &::-webkit-progress-value {
        background: var(--color-blue-200);
    }
}
