.tiles {
    display: block;
    height: 3.6rem;
    min-width: 3.6rem;
    margin: 0.2rem;
    position: relative;
    width: 3.6rem;

    .tile {
        border-radius: 0.2rem;
        height: 1.6rem;
        position: absolute;
        width: 1.6rem;

        &__top {
            @extend .tile;

            top: 0;
        }

        &__bottom {
            @extend .tile;

            bottom: 0;
        }

        &__center {
            left: 1rem;
        }

        &__left {
            left: 0;
        }

        &__right {
            right: 0;
        }
    }
}