[aria-label] {
    cursor: pointer;
    position: relative;

    &:before {
        border-radius: 0.2rem;
        bottom: 100%;
        content: attr(aria-label);
        left: 50%;
        margin-bottom: 1rem;
        max-width: 15rem;
        min-width: 6rem;
        opacity: 0;
        padding: 0.5rem 1rem;
        pointer-events: none;
        position: absolute;
        transform: translate(-50%, 0.4rem);
        transform-origin: top;
        transition: all .18s ease-out .18s;
        text-align: center;
        text-indent: 0;
        text-shadow: none;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: normal;
        white-space: normal;
        word-wrap: break-word;
        z-index: 10;
    }

    &:hover:before {
        opacity: 1;
        pointer-events: none;
        transform: translate(-50%, 0);
    }
}

body.theme--dark [aria-label]:before {
    background: var(--color-white-500);
    color: var(--color-gray-100);
}

body.theme--light [aria-label]:before {
    background: var(--color-gray-300);
    color: var(--color-white-500);
}
